@tailwind base;
@tailwind components;
@tailwind utilities;

/* Custom Scrollbar */
.custom-scrollbar::-webkit-scrollbar {
  width: 8px;
}

.custom-scrollbar::-webkit-scrollbar-track {
  background: rgba(255, 255, 255, 0.1);
  /* border-radius: ; */
}

.custom-scrollbar::-webkit-scrollbar-thumb {
  background: rgba(129, 135, 247, 0.6);
  /* border-radius: 10px; */
  transition: background 0.3s;
}

.custom-scrollbar::-webkit-scrollbar-thumb:hover {
  background: rgba(129, 135, 247, 0.8);
}
